<html>

<head>

    <title>Upload immersive pointcloud</title>

    <style>
        body {
            background: #20262E;
            padding: 20px;
            font-family: sans-serif;
        }

        #app {
            background: #fff;
            border-radius: 4px;
            padding: 20px;
            transition: all 0.2s;
            text-align: center;
        }

        #explain {
            background: #fff;
            border-radius: 4px;
            padding: 20px;
            transition: all 0.2s;
            text-align: left;
        }

        #logo {
            width: 100px;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        h1,
        h2 {
            font-weight: normal;
            margin-bottom: 15px;
        }

        a {
            color: #42b983;
        }

        img {
            width: 30%;
            margin: auto;
            display: block;
            margin-bottom: 10px;
        }

    </style>
</head>

<body>
    <div id="app">
        <h1>Immersive Points: Upload your own!</h1>
        <div id="explain">
            Want to see your own pointcloud in virtual reality? Upload your binary file here! <br>
            The binary file is expected to be in float32, and consist of XYZH values. <br>
            X, Y, and Z are floating point numbers in any range, but it's wise to position them around the point of origin of the virtual reality environment. <br>
            The H-value signifies the hue of that point, which should be between 0.0 and 1.0 according to <a href=https://threejs.org/docs/#api/en/math/Color.setHSL>this specification</a>. Note that saturation and lightness are currently always set to 1.0. </div> <div v-if="!image">
                <h2>Select a file</h2>
                <input type="file" @change="onFileChange">
        </div>
        <div v-else>
            <!--img :src="image" /-->
            <button v-if="!uploadURL" @click="removeImage">Remove pointcloud</button>
            <button v-if="!uploadURL" @click="uploadImage">Upload pointcloud</button>
        </div>
        <h2 v-if="uploadURL">Success! Point cloud uploaded to the server.</h2>
        <h2 v-if="errorMessage">{{errorMessage}}</h2>
        <h2 v-if="readyToUploadMessage">{{readyToUploadMessage}}</h2>
        <h2 v-if="resultURL">Ready to visualize in a few seconds at this address: <a href={{resultURL}}>{{resultURL}}</a></h2>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const MAX_IMAGE_SIZE = 10000000
        const API_ENDPOINT = 'https://w7kziwky2h.execute-api.us-east-1.amazonaws.com/default/uploadFilesToS3Python'

        function formatBytes(a, b) {
            if (0 == a) return "0 Bytes";
            var c = 1024,
                d = b || 2,
                e = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"],
                f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + " " + e[f]
        }

        new Vue({
            el: "#app",
            data: {
                image: '',
                uploadURL: '',
                errorMessage: '',
                readyToUploadMessage: '',
                resultURL: '',
            },
            methods: {
                onFileChange(e) {
                    let files = e.target.files || e.dataTransfer.files
                    if (!files.length) return
                    this.createImage(files[0])
                },
                createImage(file) {
                    // var image = new Image()
                    let reader = new FileReader()
                    reader.onload = (e) => {
                        if (file.size > MAX_IMAGE_SIZE) {
                            return alert('Pointcloud is loo large - 10Mb maximum')
                        }

                        console.log(file);
                        console.log(formatBytes(file.size, 2));
                        this.readyToUploadMessage = 'Ready to upload ' + file.name + ' of ' + formatBytes(file.size, 2) + " to a publicly available data storage for visualization in virtual reality";
                        this.image = e.target.result
                    }
                    reader.readAsDataURL(file)
                },
                removeImage: function(e) {
                    console.log('Remove clicked')
                    this.image = ''
                    this.uploadURL = ''
                    this.errorMessage = ''
                    this.readyToUploadMessage = ''
                    this.resultURL = ''
                },
                uploadImage: async function(e) {
                    console.log('Upload clicked')
                    // Get the presigned URL
                    const response = await axios({
                        method: 'GET',
                        url: API_ENDPOINT
                    })

                    this.readyToUploadMessage = ''
                    this.resultURL = "https://rmeertens.github.io/ImmersivePoints/oculus.html?name=" + response.data.name + ".bin";

                    console.log('Uploading: ', this.image)
                    let binary = atob(this.image.split(',')[1])
                    let array = []
                    for (var i = 0; i < binary.length; i++) {
                        array.push(binary.charCodeAt(i))
                    }
                    let blobData = new Blob([new Uint8Array(array)], {
                        //                        type: 'image/jpeg'
                        type: ''
                    })
                    console.log('Uploading to: ', response.data.uploadURL)
                    const result = await fetch(response.data.uploadURL, {
                        method: 'PUT',
                        body: blobData
                    })
                    console.log('Result: ', result)
                    if (result.ok) {
                        // Final URL for the user doesn't need the query string params
                        this.uploadURL = response.data.uploadURL.split('?')[0];
                    } else {
                        this.errorMessage = "Error occured" + result.statusText;
                    }
                }
            }
        })

    </script>
</body>

</html>
